.main-section{
    /* min-height:100%; */
    min-height:100vh;
    width:100%;
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url("../../assets/hero.png");
    background-size: cover;
    background-position: center;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text{
    text-align: center;
    max-width:800px;
}

.main-text h1{
    font-size:60px;
    font-weight:600;
}

.main-text p{
    max-width:700px;
    margin:10px auto 20px;
    line-height:1.4;
    font-size: 21px;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.btn img{
    width:20px;
    margin-left: 10px;
}


@media screen and (max-width:850px){
        .main-text h1{
            font-size: 40px;
        }
         .main-text p{
            font-size: 18px;
            max-width:500px;
        }
}



@media screen and (max-width:650px){
        .main-text h1{
            font-size: 30px;
        }
        .main-text p{
            margin:15px auto 30px;
            max-width:400px;
            text-align: center;
        }
}

@media screen and (max-width:476px){
        .main-text h1{
            font-size: 28px;
            max-width:360px;
            margin: auto;
        }
        .main-text p{
            font-size: 16px;
        }
}

