.program{
    margin:80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

.program-images img{
    width:100%; 
    border-radius: 30px;   
}

.program-images{ 
 flex-basis: 31%;
 position: relative;

}


.caption{
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,15,152,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    cursor:pointer;
    opacity:0;                                  
    transition: ease 2s;
    padding-top:60%;

}

.program-images:hover .caption{
    opacity:1;
    padding-top:0;
    
}

.caption img{
    width:60px;
    margin-bottom: 13px;

}



@media screen and (max-width:840px) {
    .program-images{ 
        flex-basis: 45%;
        margin:10px;
    }
    
}

@media screen and (max-width:640px) {
    .program-images{ 
        flex-basis: 100%;
        margin:20px;
    }
    
}

