.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:150px auto;
    width: 90%;
    position:relative;
}

.about-left{
    flex-basis:40%;
    position: relative;
}

.about-right{
    flex-basis:56%;
}

.about-image{
    width: 100%;
    border-radius: 14px;
    
}

.play-icon{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:60px;
    cursor: pointer;

}

.about-right h3{
    font-weight:600;
    font-size:16px;
    color:#212EA0;
}


.about-roght h2{
    font-size:35px;
    color:#000F38;
    margin:10px 0;
    max-width:350px;
}


.about-right p{
    color:#676767;
    margin:15px 0 15px;
    line-height: 25px;
}


@media screen and (max-width:850px) {
    .about{
        flex-direction: column;
    }
    
}