.testimonials{
    margin:80px auto;
    padding:0 50px;
    position: relative;
}

.icon{

    background-color:#212EA0;
    position: absolute;
    top:50%;
    right:0;
    transform: translate(-50%);
    width:50px;  
    border-radius: 350px;
    padding:15px;
    cursor:pointer;
}

.back-icon{
    right:auto;
    /* left:0; */   
}


.slider{
    overflow:hidden;
}

.slider ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:200%;
    overflow-x: hidden;
    transition: 0.5s;

}

.slider ul li{
    list-style: none;
    width:50%;
    padding:20px;
   
}



.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding:40px;
    border-radius:10px;
    color:#676767;
    line-height: 1.4;
}

.user-info{
    display:flex;
    align-items: center;
    margin-bottom:20px;
    font-size:15px;
    /* justify-content: space-between; */

}

.user-info img{
    width:65px;
    border-radius:50%;
    margin-right:10px;
    border:4px solid #212EA0;
}



.user-info h3{
    color:#212EA0;
}


@media screen and (max-width:850px){
    .testimonials{
        padding:0px 40px;
    }
    .next-icon, .back-icon{
        padding:10px;
        width:35px;
    }
    .testimonials ul li{
        padding:10px; 
    }


    .slider img{
            width:50px;
    }
}

@media screen and (max-width:650px){
    .user-info{
        display: block;
        margin-bottom: 10px;
    }

    .user-info h3{
        font-size: 16px;
    }

    .slider ul li{
        height: 300px;
    }

 
}