.campus-container{
    width:90%;
    margin:80px auto;
    text-align: center;
   
}

.gallery-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image-gallery{
    width: 23%;
    border-radius: 20px;
}
.gallery-btn{
    background-color:#212ea0;
    color:#fff;
    margin:30px 0;
} 


@media screen and (max-width:850px){
    .image-gallery{
        flex-basis: 40%;
        margin:10px;
    }
}

@media screen and (max-width:650px) {
    .image-gallery{
        flex-basis: 100%;
    }
}