.title{
    text-align: center;
    margin:70px 0 30px;
    color:#4b5aea;
    font-weight: 600;
    text-transform: uppercase;
    margin-top:200px;

}

.title h2{
    font-size: 32px;
    color:#000F38;
    margin-top:5px;
    text-transform: none;
}
