.footer{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:30px 20px;
    height:50px;
    background-color: rgb(76, 76, 148);
    position: fixed;
    bottom:0;
    width:100%;
    color:#fff;

}

.footer ul li{
    display:inline-block;
    list-style: none;
    margin-left: 20px;
}

@media screen and (max-width:650px){
    .footer{
        margin:0;
        flex-direction: column;
    }
}
