@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    height: 100%;
    width:100%;
}
body::-webkit-scrollbar {
    display: none;
}

li{
    text-decoration: none;
    color:inherit;
    line-height:1;
    cursor:pointer;
}

.container{
    padding-left:10%;
    padding-right:10%;
}

.btn{
    background-color: #fff;
    color:#212121;
    padding:14px 25px;
    border-radius: 25px;
    border: none;
    outline: none;
}




@media (max-width:1200px) {
    .container{
        padding-left:5%;
        padding-right:5%;
    }
    .btn{
        padding:14px 22px;
    }
    
}